/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 16px;
  color: $text-color;
  color: rgb(67,67,67);
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-size: 24px;
  font-family: $base-font-family;
  line-height: 35px;
  background: #f0dab3 url("./smartisian/bg.jpg");
  background-color: $background-color;
  border-radius: 4px;
  text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  width: 12px;
  background: rgba(255,250,245,0.1);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #645647;
  border-radius: 6px;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  padding-left: $spacing-unit / 2;
  color: $grey-color;
  font-style: italic;
  letter-spacing: -1px;

  @include relative-font-size(1.125);

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);

  background-color: #eef;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    padding-right: 0;
    padding-left: 0;
    border: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit;
  background: #dedede;
  border-radius: 8px;

  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/**
 * Icons
 */

.svg-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 5px;
  vertical-align: text-top;
  fill: #ddd;
  vertical-align: middle;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */
table {
  width: 100%;
  margin-bottom: $spacing-unit;
  color: lighten($text-color, 18%);
  text-align: $table-text-align;
  border: 1px solid $grey-color-light;
  border-collapse: collapse;

  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }

  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}
